* {
    padding: 0;
    margin: 0;
}
.heading {
    text-align: center;

    margin-top: 6em;
}
.heading h1 {
    position: relative;
    font-size: 5rem;
}

.todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.todo input {
    position: relative;
    padding: 10px;
    width: 100%;
    margin: 3rem 0 0 0;
    border: 1;
    outline: none;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    background: #5d3bd8;
    padding: 10px;
    margin: 10px;
}
.content p {
    width: 80%;
    margin: 0 0 0 2em;
    font-size: 1.5rem;
    font-weight: bolder;
    position: relative;
    color: #ffff;
}
.complete {
    border-radius: 5px;
    border-radius: 8px;
    background: #d6e6e0;
}
.delete:hover {
    color: #ff0000;
    border-radius: 100px;
    margin: 5px;
    padding: px;
}
.main {
    padding: 1rem;
    margin: 0 8rem 0 8rem;
}
i {
    margin: 1rem;
    color: #00fff2;
}

.svg {
    /* top: 10%;
    left: -20%;
    right: 0%;
    width: 120%;
    height: 40%; */
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    height: 80%;
}
.svg img {
    position: fixed;
}

@media (max-width: 500px) {
    .content p {
        width: 70%;
        margin: 0 0 0 0.5em;
        font-size: 1rem;
    }
    .content {
        border-radius: 8px;
    }
    .todo input {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 94%;
        /* background: transparent; */
    }
    .heading h1 {
        font-size: 4rem;
    }
    .main {
        margin: 0;
        padding: 0.4rem;
    }
    .status {
        margin: 0.5rem;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .svg {
        bottom: 0%;
        /* left: -10%; */
        top: -22%;
        width: 100%;
        height: 98%;
    }
}
